* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul li {
    list-style-type: none;
}
a {
    color: black;
    text-decoration: none
}
/* End Global Rules */
/* Start Sentence */
.sentence{
    width: 100%;
    height: 50px;
    background-color: #036a92;
}
.pSentence {
    color: white;
    text-align: center;
    line-height: 48px;
}
/* End sentence */
/* Start Header */
.header {
    width: 100%;
    height: 150px;
}
/* Start name and logo */
.nameLogo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.nameLogo,.tabs {
    border-bottom: 1px solid rgb(206, 206, 206);
}
.logo {
    width: 102px;
    margin-top: 15px;
}
.Trendify {
    color: #036a92;
    font-weight:bolder;
    font-size: 30px;
}
/* End name and logo */
/* Start Tabs */
.tabs {
    width: 100%;
    height: 50px;
}
.header .tabs .icons {
    width: 54px;
    display: flex;
    flex-wrap: wrap;
    height: 48px;
    background-color: #036a92;
    margin-left: 279px;
    padding: 7px;
    border-radius: 8px;
    display: none;
}
.header .tabs .icons span {
    background-color: rgb(255, 255, 255);
    height: 3px;
    width: 62%;
    margin-left: 7px;
    margin-bottom: 3px;
    margin-top: 6px; 
    border-radius: 40px;
}
.tabsLinks {
    display: flex;
    justify-content: center;
    position: relative;
    top: 11px;
}
.tabsLinks li a {
    margin-left: 20px;
    font-weight: bold;
}
.CONTACT {
    color: #036a92;
}
/* Start Tabs */
/* End Header */
/* Start Contact Us */
.container{
    width: 100%;
    height: 800px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}
.ConactLeft , .ConactRight{
    position: relative;
}
.ConactLeft{
    top: 69px;
}
.contact{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}
.ConactRight{
    top: 130px;
}
.map {
    width: 500px;
    height: 606px;
    border-radius: 5px;
}
.txt_email , .subject , .send {
    height: 42px;
}
.txt_email , .send{
    width: 259px;
}
.subject , .Message {
    width: 525px;
}
.txt_email , .subject , .Message   {
    padding-left: 20px;
    background: none;
    border: 1px solid gray;
}
.Message{
    height: 350px;
    padding-bottom: 285px;
}
.send{
    background-color: #036a92;
    color: white;
    border: none;
}
.send:hover{
    background-color: white;
    color: #036a92;
}
/* End Contact Us */
/* Start Subscribe on Triendy now! */
.SubsribeOnTrendify{
    width: 100%;
    height: 340px;
    background-color: #036a92;
    color: white;
}
.divSubsribe{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 120px;
}
.Psubscribe,.pSub {
    font-size: 20px;
    margin-bottom: 20px;
}
.pSub {
    font-weight: bold;
}
.emailSub {
    width: 500px;
    height: 50px;
    border: 1px solid white;
    background: none;
    border-radius: 7px;
}
.buttonSub{
    width: 300px;
    height: 50px;
    font-size: 20px;
    border-radius: 7px;
    color: white;
    background-color: #83c9ff;
    border: none;
}
.buttonSub:hover {
    background-color: white;
    color: #83c9ff;
}
/* End Subscribe on Triendify now! */
/* Start Footer */
.footer {
    width: 100%;
    height: 300px;
    background-color: white;
}
.linksFooter{
    margin-top: 30px;
}
.linksFooter,.media{
    text-align: center;
}
.HeaderPage, .media{
    margin-left: 20px;
    color: gray;
}
.media{
    font-size: 25px;
    margin-top: 20px;
}
.media i {
    margin-left: 30px;

}
/* End Footer */